<section class="poke-container">
    <h1 class="poke_title">
        Pokemon Labaratory
    </h1>
    <div class="poke-form_box">
        <form class="poke_form">
            <label for="pokname"></label>
            <input class="poke-input" type="text" id="pokname" name="query" placeholder="Search Pokemon">
        </form>
        <p class="poke-form_text">Type an arbitrary number...</p>
        <div class="openai-box">
          <label for="aiinput"></label>
          <input class="openai-input" type="text" id="aiinput" name="aiquery" placeholder="Ask ChatGPT what pokemons would be best for... (press Enter)" maxlength="250">
          <h2 class="openai-response-title"></h2>
          <div class="openai-response" aria-live="polite"></div>
        </div>
    </div>

    <div class="card-container"></div>
</section>